.Login_content{
    height: 100%;
    background-image: url(../../assets/img/poster.jpg);
    position: relative;
    .overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.678);
    }
}
.Login_loginPic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
    margin: auto;
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 7px 10px 5px gray;
    overflow: hidden;
    .Login_pic {
        width: 60%;
        background-image: url(../../assets/img/movielogin.jpg);
        background-position: center;
        background-size: cover;
    }
    .Login_login {
        width: 40%;
        text-align: center;
        padding: 15px;
        margin: auto;
        hr {
            height: 3px;
            border-radius: 15%;
            background-color: white;
        }
        p {
            font-weight: bold;
            text-align: left;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        .text{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
@media only screen and (max-width: 375px){
    .Login_loginPic{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        .Login_pic{
            display: none
        }
        .Login_login{
            width: 100% !important;
        }
    }
}
@media only screen and (min-width: 376px) and (max-width: 768px){
    .Login_loginPic{
        width: 70%;
        height: 80%;
        .Login_pic{
            display: none
        }
        .Login_login{
            width: 100% !important;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .Login_loginPic{
        width: 80%;
        height: 80%;
        .Login_pic{
            width: 35%;
        }
        .Login_login{
            width: 65%;
        }
    }
}